* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(243, 243, 243);
  justify-content: center;
}

footer,
section {
  padding: 2rem;
  gap: 30px;
  max-width: 96rem;
  margin: 0 auto;
}

.instagram-wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1024px;
  height: 600px;
}

figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  height: 550px;
}

.iphone {
  height: 600px;
  align-items: center;
  justify-content: center;

  margin-top: 20px;
  margin-left: 200px;
}

.img-instagram {
  position: absolute;
  left: 53.5%;
  top: 10px;
  height: 558px;
  transition: 1.0s ease;
}

.instagram-continue {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  min-height: 34rem;
  padding: 5px;
}

.group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  width: 320px;
  height: 323px;
  padding: 1rem 0;
  border: 1px solid lightgray;
}

.group:nth-child(1) {
  min-height: 19rem;
}

.instagram-logo {
  height: 2.9rem;
  margin-top: 5px;
}

.profile-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50%;
}

.profile-photo img {
  border-radius: 50%;
  width: 82px;
  height: 82px;
}

.instagram-login {
  background-color: rgb(0, 149, 246);
  color: #ffffff;
  padding: 7px;
  border-radius: 4px;
  width: 220px;
  align-items: center;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 11px;
}

.not-account {
  color: rgb(0, 0, 0);
  font-size: 11px;
}

.link-blue {
  color: #299CF7;
  font-weight: bold;
  font-size: 11px;
}

.get-the-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1.3rem 0;
}

.download {
  display: flex;
  width: 400px;
  justify-content: center;
  gap: 6px;
  align-items: center;
  padding: 1.3rem 0;
}

.app-download {
  height: 2.8rem;
  width: 9.8rem;
  background-size: cover;
}

.app-download:nth-child(1) {
  background-image: url('./img/apple-button.png');
  padding: 8px;
  border-radius: 8px;
}

.app-download:nth-child(2) {
  background-image: url('./img/googleplay-button.png');
  padding: 8px;
  border-radius: 8px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rodape {
  text-indent: 15px;
  text-decoration: none;
  align-items: flex-end;
  justify-content: flex-end;
  font-size: 10px;
  color: rgba(43, 42, 42, 0.664);
  font-family: helvetica, arial, sans-serif, arial, tahoma, verdana;
  margin-bottom: 7px;
  line-height: 16px;
}

/* media queries */

@media (max-width: 1024px) {
  .instagram-wrapper {
    width: 90%;
  }
}

@media (max-width: 650px) {
  body {
    background-color: #ffffff;
  }

  .instagram-wrapper {
    width: 90%;
  }

  .instagram-phone img {
    display: none;
  }

  .instagram-continue {
    width: 100%;
  }

  .group {
    border: 1px solid transparent;
  }
}